## Visualizar tudo

In [8]:
import pandas as pd

# O caminho correto para a sua estrutura
# Exemplo de como ficaria com um caminho absoluto
df = pd.read_excel(r'C:\Users\User\Desktop\analise-dados\orcamento\orcamento.xlsx')
df

,Centro de Responsabilidade,Cod centro,Nome conta 1º nível,Cod conta 1º nível,Nome conta 2º nível,Cod conta 2º nível,Nome conta 3º nível,Cod conta 3º nível,Ano,Mês,nº mês,Realizado
0,Moderna,10112,Despesa,1,Despesas Correntes,11,Pessoal e Encargos,111,2022,JANEIRO,1,189554.72
1,Moderna,10112,Despesa,1,Despesas Correntes,11,Ocupação e Utilidades,115,2022,JANEIRO,1,6239.97
2,Moderna,10112,Despesa,1,Despesas Correntes,11,Material de Consumo,114,2022,JANEIRO,1,7715.51
3,Moderna,10112,Despesa,1,Despesas Correntes,11,Transportes e Viagens,111,2022,JANEIRO,1,2810.14
4,Moderna,10112,Despesa,1,Despesas Correntes,11,Serviços de terceiros,117,2022,JANEIRO,1,8507.01
...,...,...,...,...,...,...,...,...,...,...,...,...
698,Colibri,10112,Despesa,1,Despesas Correntes,11,Impostos e taxas,112,2023,FEVEREIRO,2,33688.76
699,Colibri,10112,Despesa,1,Despesas Correntes,11,Outras despesas,116,2023,FEVEREIRO,2,10172.34
700,Colibri,10112,Despesa,1,Despesas de Capital,12,Investimentos,123,2023,FEVEREIRO,2,10000.00
701,Colibri,10112,Receita,2,Receitas Correntes,21,Receitas de serviços,211,2023,FEVEREIRO,2,102190.73
702,Colibri,10112,Receita,2,Receitas Correntes,21,Outras receitas,212,2023,FEVEREIRO,2,0.00